<div class="view full-page-intro c-portada">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="container mt-5">
      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-12 mb-12 white-text text-center text-md-left">
          <h1 class="display-4 font-weight-bold text-center">Los mejores <br> restaurantes y cocineros</h1>
          <hr class="hr-light col-md-8">
            <div class="input-group busqueda shadow-5" >
              <span class="input-group-text"><i class="fas fa-map-marked"></i>&nbsp;Lugar</span>
              <input type="text" aria-label="First name" class="form-control" />
              <span class="input-group-text"><i class="fas fa-shopping-basket"></i>&nbsp;Restauran, Comida, o Cocinero</span>
              <input type="text" aria-label="Last name" class="form-control" />
              <button class="btn-outline-b" type="submit">Buscar&nbsp;<i class="fas fa-search"></i></button>
            </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
